{erl_opts, [
    warn_bif_clash,
    warn_deprecated_function,
    warn_export_all,
    warn_export_vars,
    warn_exported_vars,
    warn_format,
    warn_missing_spec,
    warn_obsolete_guard,
    warn_shadow_vars,
    warn_untyped_record,
    warn_unused_function,
    warn_unused_record,
    warn_unused_vars,
    debug_info,
    {parse_transform, lager_transform}
]}.

{deps, [
    {lager, {git, "https://github.com/erlang-lager/lager.git", {tag, "3.4.1"}}},
    {turtle, {git, "https://github.com/shopgun/turtle.git", {branch, "master"}}},
    {recon, {git, "https://github.com/ferd/recon.git", {branch, "master"}}}
]}.

{relx, [
    {release, {toy, "0.1.0"}, [
              toy,
              observer, wx, runtime_tools, inets,
              recon
    ]},

    {overlay,
        [{mkdir, "log"}]},
                  
    {sys_config, "config/sys.config"},
    {vm_args,    "config/vm.args"},

    {extended_start_script, true}
]}.

{profiles, [
]}.

